input[type="radio"] {
  display: none
}
input[type="radio"] + label {
  background-color: var(--color-gray-200);
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 8px 16px;
}
input[type="radio"]:checked + label {
  background-color: var(--color-secondary);
}

